.panel-login 
{
  margin-top: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.container
{
  max-width: 1024px;
}

.dropdown-menu a
{
  cursor: pointer;
}

.navbar
{
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
}

.submit
{
  margin-bottom: 15px;
}
